<div class="card border border-dark border-3 rounded">
    <div class="card-body">
    <h1>Muchas gracias por tu compra!</h1>
    <p>Te estara llegando un correo electronico con los detalles de tu compra!</p>
    <a href="/prods" class="btn btn-primary">volver a comprar</a>
    <a href="/api/session/logout" class="btn btn-primary">Salir</a>
    
    </div>
</div>